.section-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  margin: auto;
  z-index: 0;
  text-align: left;
  background-image: url("../../assets/herobg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.content-wrapper {
  inset: 0;
  max-width: 1000px;
  padding-top: 80px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.left-column {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80%;
}

.title {
  font-family: "Helvetica", sans-serif;
  font-weight: bold;
  color: #fff;
  font-size: 60px;
}

.subtitle {
  color: #915eff;
}

.description {
  color: #fff;
  font-size: 30px;
}

.btns {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.btn {
  text-decoration: none;
  background-color: rgb(170 166 195);
  color: rgb(21 16 48);
  font-weight: 800;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #00205b;
  color: #fff;
}

.image {
  width: 20rem;
  height: 20rem;
  object-fit: cover;
  border-radius: 50%;
}
