.fixedBackdrop {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 50;
  backdrop-filter: blur(20px);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navLinks {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.link-btn {
  padding: 10px 20px;
  border-radius: 9999px;
  cursor: pointer;
  text-decoration: none;
  color: #959595;
  user-select: none;
  font-size: 20px;
  font-weight: 700;
}

.link-btn:hover {
  background-color: #ddd;
}

.active {
  color: #fff;
}
